.blogs_search_section {
  @include flex-container(column, flex-start, center);
  padding-top: 40px;
  gap: 10px;
  h1 {
    font-size: 40px;
    font-weight: 600;
  }
  p {
    color: $grey_text_color;
  }

  .blogs_search_input {
    margin-top: 20px;
  }
}
