@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables";
@import "./mixins";

body {
  font-family: $poppins_font !important;
  main {
    max-width: $page_max_width;
    margin-inline: auto;

    section {
      padding: $section_padding;
    }
  }
}

// importing pages
@import "./pages/about";
@import "./pages/blogs";
@import "./pages/contact";
@import "./pages/home";

// importing Components

// atoms
@import "./components/atoms/button";
@import "./components/atoms/input";
@import "./components/atoms/socialmediabutton";

// molecules
@import "./components/molecules/bloginfo";
@import "./components/molecules/navactions";
@import "./components/molecules/navlist";
@import "./components/molecules/newslettersubmit";
@import "./components/molecules/socialmedia";

// organisms
@import "./components/organisms/blogcard";
@import "./components/organisms/newslettercontent";

// templates
@import "./components/templates/blogsearch";
@import "./components/templates/bloggrid";
@import "./components/templates/bloglist";
@import "./components/templates/newsletter";
@import "./components/templates/footer";
@import "./components/templates/navbar";
