@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables.scss";
@import "./mixins.scss";

body {
  font-family: $poppins_font !important;
  main {
    max-width: $page_max_width;
    margin-inline: auto;

    section {
      padding: $section_padding;
    }
  }
}

// importing pages
@import "./pages/about.scss";
@import "./pages/blogs.scss";
@import "./pages/contact.scss";
@import "./pages/home.scss";

// importing Components

// atoms
@import "./components/atoms/button";
@import "./components/atoms/input";

// molecules

// organisms
@import "./components/organisms/navbar";

// templates
@import "./components/templates/blogsearch";
